<footer class="footer">
  <div class="container">
    <div class="footer__col">
      <a class="logo">Company</a>
      <address class="footer__address">
        Dorivit BV, Monitorweg 1, Almere 1322BJ, Netherlands
      </address>
      <ul class="footer__socials socials">
        <li class="socials__item">
          <a class="social__link" href="#" target="_blank" arial-label="Facebook"></a>
        </li>
        <li class="socials__item">
          <a class="social__link" href="#" target="_blank" arial-label="Telegram"></a>
        </li>
        <li class="socials__item">
          <a class="social__link" href="#" target="_blank" arial-label="Google+"></a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h2 class="footer__title">
        Id sodales interdum dui mollis non in odio
      </h2>
      <form action="#" class="footer__form form">
        <label class="form__label">
          <input type="email" name="E-mail" class="input-reset form__input" placeholder="E-mail">
        </label>
        <button class="btn-reset form__btn" aria-label="Subscribe"></button>
      </form>
    </div>
  </div>
</footer>
