<header class="header">
  <div class="container header__container">
    <a class="logo">Company</a>
    <div class="header__right">
      <button class="header__search btn-reset" aria-label="Search on page">
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11.7666" cy="11.7666" r="8.98856" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M18.0183 18.4851L21.5423 22" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a class="nav__link" href="#">Portfolio</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Team</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Blog</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
