<header class="header">
  <div class="container">
    <a class="logo">Company</a>
    <div class="header__right">
      <button class="header__search btn-reset" aria-label="Search on page"></button>
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a class="nav__link" href="#">Portfolio</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Team</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Blog</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
