<section class="portfolio section-padding">
  <h2 class="visually-hidden">
    Portfolio
  </h2>
  <div class="container">
    <ul class="portfolio__list list-reset">
      <li class="portfolio-item grid">
        <div class="portfolio-item__col">
          <h3 class="portfolio-item__title">
            Et odio
          </h3>
          <p class="portfolio-item__descr">
            Mauris eget nec nulla dolor ex. Sodales luctus pellentesque cras ornare lorem luctus
            lectus sed consectetur quam, est. Libero, odi
          </p>
          <button class="btn btn-reset btn--dark" aria-label="More about project">Button</button>
        </div>
        <div class="portfolio-item__col">
          <picture>
            <source srcset="img/port-1.avif" type="image/avif">
            <source srcset="img/port-1.webp" type="image/webp">
            <img loading="lazy" src="../img/port-1.jpg" class="image portfolio-item__img"
              width="570" height="400" alt="Picture of Et odio">
          </picture>
        </div>
      </li>
      <li class="portfolio-item portfolio-item--reverse grid">
        <div class="portfolio-item__col">
          <h3 class="portfolio-item__title">
            Integer dapibus dictum
          </h3>
          <p class="portfolio-item__descr">
            it pulvinar tempus amet dolor dui vulputate tortor, luctus lorem in nunc eleifend ipsum
            justo et venenatis dictumst.
          </p>
          <button class="btn btn-reset btn--dark" aria-label="More about project">Button</button>
        </div>
        <div class="portfolio-item__col">
          <picture>
            <source srcset="img/port-2.avif" type="image/avif">
            <source srcset="img/port-2.webp" type="image/webp">
            <img loading="lazy" src="../img/port-2.jpg" class="image portfolio-item__img"
              width="570" height="400" alt="Picture of Integer dapibus dictum">
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
