<section class="quote">
  <div class="container">
    <h2 class="quote__title">
      Quote
    </h2>
    <blockquote class="quote__content">
      <p class="quote__text">
        Accumsan vulputate efficitur in amet, vestibulum ornare morbi accumsan leo, est. Consectetur
        ultricies. Sapien est. Dictumst. Sapien habitasse interdum in amet, lectus molestie vel ut.
        Malesuada efficitur mattis id mattis aenean interdum lectus quam, dapibus nec augue
        vulputate leo,
        ornare elit.
      </p>
      <cite class="quote__author">
        Alex Lee / <span>Co-founder & SEO</span>
      </cite>
    </blockquote>
  </div>
</section>
